@import url(./vendor/fonts.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__title/header__title.css);
@import url(./blocks/header/__list/header__list.css);

@import url(./blocks/main-container/main-container.css);
@import url(./blocks/main-container/__content/main-container__content.css);
@import url(./blocks/main-container/__button/main-container__button.css);
@import url(./blocks/main-container/__title/main-container__title.css);
@import url(./blocks/main-container/__order/main-container__order.css);
@import url(./blocks/main-container/__subtitle/main-container__subtitle.css);
@import url(./blocks/main-container/__image/main-container__image.css);
@import url(./blocks/main-container/__dollars/main-container__dollars.css);
@import url(./blocks/main-container/__li/main-container__li.css);
@import url(./blocks/main-container/__list/main-container__list.css);

@import url(./blocks/benefits/benefits.css);
@import url(./blocks/benefits/__li/benefits__li.css);
@import url(./blocks/benefits/__list/benefits__list.css);
@import url(./blocks/benefits/__button/benefits__button.css);
@import url(./blocks/benefits/__container/benefits__container.css);
@import url(./blocks/benefits/__images/benefits__images.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/__checkbox/form__checkbox.css);
@import url(./blocks/form/__custom-checkbox/form__custom-checkbox.css);
@import url(./blocks/form/__form/form__form.css);
@import url(./blocks/form/__input/form__input.css);
@import url(./blocks/form/__container/form__container.css);
@import url(./blocks/form/__layer/form__layer.css);
@import url(./blocks/form/__title/form__title.css);
@import url(./blocks/form/__button/form__button.css);
@import url(./blocks/form/__img/form__img.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__nav/footer__nav.css);
@import url(./blocks/footer/__list/footer__list.css);
@import url(./blocks/footer/__li/footer__li.css);
@import url(./blocks/footer/__main/footer__main.css);
@import url(./blocks/footer/__vertical/footer__vertical.css);
@import url(./blocks/footer/__title/footer__title.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/footer/__text/_white/footer__text_white.css);
@import url(./blocks/footer/__icons/footer__icons.css);
@import url(./blocks/footer/__icon/footer__icon.css);
@import url(./blocks/footer/__button/footer__button.css);
@import url(./blocks/footer/__vertical/_end/footer__vertical_end.css);

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: normal;
}
