@import url(./vendor/fonts.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/title/header__title.css);
@import url(./blocks/header/list/header__list.css);

@import url(./blocks/main-container/main-container.css);
@import url(./blocks/main-container/content/main-container__content.css);
@import url(./blocks/main-container/button/main-container__button.css);
@import url(./blocks/main-container/title/main-container__title.css);
@import url(./blocks/main-container/order/main-container__order.css);
@import url(./blocks/main-container/subtitle/main-container__subtitle.css);
@import url(./blocks/main-container/image/main-container__image.css);
@import url(./blocks/main-container/dollars/main-container__dollars.css);
@import url(./blocks/main-container/li/main-container__li.css);
@import url(./blocks/main-container/list/main-container__list.css);

@import url(./blocks/benefits/benefits.css);
@import url(./blocks/benefits/li/benefits__li.css);
@import url(./blocks/benefits/list/benefits__list.css);
@import url(./blocks/benefits/button/benefits__button.css);
@import url(./blocks/benefits/container/benefits__container.css);
@import url(./blocks/benefits/images/benefits__images.css);

@import url(./blocks/form/form.css);
@import url(./blocks/form/checkbox/form__checkbox.css);
@import url(./blocks/form/custom-checkbox/form__custom-checkbox.css);
@import url(./blocks/form/form/form__form.css);
@import url(./blocks/form/input/form__input.css);
@import url(./blocks/form/container/form__container.css);
@import url(./blocks/form/layer/form__layer.css);
@import url(./blocks/form/title/form__title.css);
@import url(./blocks/form/button/form__button.css);
@import url(./blocks/form/img/form__img.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/nav/footer__nav.css);
@import url(./blocks/footer/list/footer__list.css);
@import url(./blocks/footer/li/footer__li.css);
@import url(./blocks/footer/main/footer__main.css);
@import url(./blocks/footer/vertical/footer__vertical.css);
@import url(./blocks/footer/title/footer__title.css);
@import url(./blocks/footer/text/footer__text.css);
@import url(./blocks/footer/text/white/footer__text_white.css);
@import url(./blocks/footer/icons/footer__icons.css);
@import url(./blocks/footer/icon/footer__icon.css);
@import url(./blocks/footer/button/footer__button.css);
@import url(./blocks/footer/vertical/end/footer__vertical_end.css);

* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: normal;
}
